<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.css" rel="stylesheet" />
	</head>

	<body>
		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item mui-active" href="confs.html">
				<span class="mui-icon mui-icon-list"></span>
				<span class="mui-tab-label">会议</span>
			</a>
			<a class="mui-tab-item" href="joinConf.html">
				<span class="mui-icon mui-icon-phone"></span>
				<span class="mui-tab-label">加入会议</span>
			</a>
			<a class="mui-tab-item" href="settings.html">
				<span class="mui-icon mui-icon-contact"></span>
				<span class="mui-tab-label">我</span>
			</a>
		</nav>
		<script src="../js/mui.js"></script>
		<script src="../js/entry.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>
